.swap-page {
    // min-height: 100vh;
    padding-bottom: 72px;
    position: relative;
    .top-circle {
        position: absolute;
        top: 0;
        right: 0;
    }
    .bottom-circle {
        position: absolute;
        left: -120px;
        bottom: 0
    }

    .app-header {
        margin-bottom: 12px;
    }
    .page-title {
        font-family: "dm";
        font-weight: 800;
        color: #fcfcfd;
        font-size: 24px;
        line-height: 40px;
    }
    .round-desc {
        margin-bottom: 16px;
        li {
            color: #777e91;
            font-size: 14px;
            line-height: 24px;
            list-style: disc;
            list-style-position: inside;
        }
    }
    .progress-area {
        &.low {
            .percent {
                background: linear-gradient(269.49deg, #1d4ecd 0%, #0594b4 100%);
            }
        }
        &.high {
            .raised {
                color: #ff3939;
            }
            .percent {
                background: linear-gradient(269.49deg, #cd1d47 0%, #ec6565 90.63%);
            }
        }
        .labels {
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 16px;
            line-height: 24px;
            margin-bottom: 8px;
        }
        .bar {
            background: #3f4b62;
            border-radius: 100px;
            width: 100%;
            height: 10px;
            position: relative;
            overflow: hidden;
            .percent {
                height: 100%;
            }
        }
    }
    .separate-line {
        height: 1px;
        width: 100%;
        background: #23262f;
        margin: 16px auto;
    }
    .swap-area {
        position: relative;
        .swap-icon {
            top: 136px;
            position: absolute;
            right: 64px;
            width: 48px;
            height: 48px;
            z-index: 100;
        }
        .swap-card {
            background: url("../../assets/swap-card-bg.png");
            background-size: 100%;
            height: 156px;
            width: 100%;
            padding: 20px;
            &:not(:last-child) {
                margin-bottom: 4px;
            }
            .token-info {
                display: flex;
                align-items: center;
                margin-bottom: 12px;
                .icon {
                    width: 48px;
                    height: 48px;
                    margin-right: 16px;
                }
                .symbol {
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 27px;
                    color: #000000;
                    // margin-bottom: 2px;
                }
                .rate {
                    font-size: 14px;
                    line-height: 21px;
                    color: #a2a2aa;
                }
            }
            .input-area {
                display: flex;
                align-items: center;
                justify-content: space-between;
                .ant-input {
                    background: transparent;
                    outline: none;
                    border: none;
                    box-shadow: none;
                    font-weight: 800;
                    font-size: 24px;
                    line-height: 36px;
                    color: #000000;
                    padding: 0 8px 0 0;
                }
                .action-hint {
                    font-weight: 800;
                    font-size: 14px;
                    line-height: 21px;
                    color: #1f1f1f;
                    white-space: nowrap;
                    &.blue {
                        color: #1a44c0;
                    }
                }
            }
            .balance {
                font-size: 14px;
                line-height: 21px;
                color: #a2a2aa;
            }
        }
    }
    .action-area {
        margin: 24px auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        .btn-blue,
        .btn-grey {
            text-transform: uppercase;
            text-align: center;
            width: 100%;
            font-size: 16px;
            line-height: 40px;
            padding: 10px 0;
        }
    }
    .desc {
        .desc1 {
            font-weight: 800;
            font-size: 18px;
            line-height: 24px;
            margin-bottom: 20px;
        }
        .desc2 {
            font-size: 14px;
            line-height: 20px;
            color: rgba(255, 255, 255, 0.5);
            margin-bottom: 20px;
            font-style: italic;
        }
        .desc3 {
            font-size: 14px;
            line-height: 24px;
        }
    }
}
